.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.faqBox{
    background-color: white;
    border-radius: 2rem;
    margin: 5rem auto;
    width: 60rem;
    min-height: 33rem;
    display: grid;
    grid-template-columns: 50% 45%;
    box-shadow:0px 15px 10px hsla(228, 45%, 44%, 0.527);
    
}
.faqBox img {
    position: absolute;
}

.faqBox div:first-of-type  {
    position: relative;
}
.MainImageWoman{
    content: url('/assets/images/illustration-woman-online-desktop.svg');
    /* content: url('file:///C:/Users/GEG_F/Desktop/Old%20laptop/Programacion/JS/faq-accordion-card-main/assets/images/illustration-woman-online-desktop.svg'); */
    left: -5rem;
    top: 6rem;
    z-index: 2;
}

.BgPattern{
    content: url('/assets/images/bg-pattern-desktop.svg');
    /* content: url('file:///C:/Users/GEG_F/Desktop/Old%20laptop/Programacion/JS/faq-accordion-card-main/assets/images/bg-pattern-desktop.svg'); */
    left: -36rem;
    top: -17rem;
    z-index: 1;
}  

.LitleBox{
    content: url('/assets/images/illustration-box-desktop.svg');
    /* content: url('file:///C:/Users/GEG_F/Desktop/Old%20laptop/Programacion/JS/faq-accordion-card-main/assets/images/illustration-box-desktop.svg'); */
    top: 13rem;
    left: -6rem;
    z-index: 3;
    
}


.bold-font {
    font-weight: 700;
}

.arrow-image{
    
    float: right;
    height: 9px;
    padding-right: 6px;
    /* content: url('/assets/images/icon-arrow-down.svg'); */
    content: url('file:///C:/Users/GEG_F/Desktop/Old%20laptop/Programacion/JS/faq-accordion-card-main/My%20desing/assets/images/icon-arrow-down.svg');
}

.rotated{
    transform: rotate(180deg);
    padding-right: 0;
    padding-left: 6px;
}

.hiden {
    display: none;
}

@media only screen and (max-width:900px) {

    .faqBox{
        grid-template-rows: 20% 80%;
        grid-template-columns: none;
        width: auto;
        margin: 8rem 1.5rem;
        min-height: 38rem;
    }
    .faqBox :first-child {
        margin: auto;
    }
    .MainImageWoman{
        left: -9rem;
        top: -11rem;
        content: url('file:///C:/Users/GEG_F/Desktop/Old%20laptop/Programacion/JS/faq-accordion-card-main/My%20desing/assets/images/illustration-woman-online-mobile.svg');
    }
    
    .BgPattern{
        left: -7rem;
        top: -4rem;
        content: url('file:///C:/Users/GEG_F/Desktop/Old%20laptop/Programacion/JS/faq-accordion-card-main/My%20desing/assets/images/bg-pattern-mobile.svg');

    }  
    
    .LitleBox{
        display: none;
    }
    

}   