html{
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    color: #5b5b64;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

h2 {
    font-weight: bold;
    font-size: xxx-large;
}

ul{
    list-style: none;
    padding: 10px 0;
    width: 25rem;
}

li{
    min-height: 2.5rem;
    border-bottom: solid 1px rgba(49, 49, 49, 0.247);

}

h4{
    font-weight: 400;
}

h4:hover {
    color: hsl(14, 88%, 65%);
}

.attribution a{
    font-size: 17px;
    text-decoration: none;
    color: orange;
}

@media only screen and (max-width:900px) {

    html{
        height: auto;
    }

    ul{
        width: auto;
        padding: 0 1rem;
    }
    h2{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    li{
        margin-top: 1rem;
        font-size: 14px;
    }

}